<div class="container">
	<div class="jumbotron">
		<h1>Quantilizer</h1>
	
		<h2>...testing your trading strategies in just 1 minute.</h2>
		<a href="/user/new" class="btn-lg btn-success">Sign Up now!</a>
	</div>
</div>
		