<div class="container">
	<div class="jumbotron">
		<h1>Quantilizer</h1>
		<p>Your online back testing platform</p>
		<p><a href="/user/new" class="btn-lg btn-success">Sign Up now!</a></p>
	</div>
</div>