<div class="container">
	<h2>Users</h2>
	<hr>
	<div id="demo"></div>
	<input type="hidden" id="user_index-info" value="<%= JSON.stringify(users) %>" />
	<input type="hidden" id="user_index-csrf" name="_csrf" value="<%= _csrf %>" />
</div>
<%- block('localScripts', '<script src="/localjs/user_index.js"></script>') %>
